// 重置
@import "~@mcui/mc-reset";
// 基础
@import "~@mcui/mc-base";
// 主题
@import "~mc-tinting/theme/mc-tinting@theme=default";

html {
  font-size: 12px;
  padding: 10px;
}

.com-title {
  text-align: center;
  margin-bottom: 3rem;
}

.floor {
  text-align: center;
  width: 100%;
  height: 300px;
  padding: 2rem 0;
  border: 1px solid #000;
  margin: 3em 0;
}
html,
body {
  height: 100%;
  // overflow: hidden;
}

#scroll {
  height: 100%;
  // overflow: hidden;
  // overflow-y: auto;
}
